.vscode
*.o
cmake-build-debug
CMakeLists.txt
.idea

# Don't include the binaries
client_server
client
server
next_token
udp_client
tcp_client
server
logger
standalone

received_config.ini
received.ini

recieved_config.ini
recieved.ini

solo_config.ini

# Ignore everything in the ./bin folder
bin*

# Ignore other stuff
GPATH
GRTAGS
GTAGS
udp4_cooked.c
soloclient-src/standalone
soloclient-src/solo_config_loopback.ini
soloclient-src/solo_config.ini
udp4_cooked.c
udp4_cooked
soloclient-src/standalone
soloclient-src/solo_config.ini
soloclient-src/standalone
