.vscode
*.o
cmake-build-debug
CMakeLists.txt
.idea

# Don't include the binaries
client_server
client
server
next_token
udp_client
tcp_client
server
logger
standalone

received_config.ini
received.ini

recieved_config.ini
recieved.ini

# Ignore everything in the ./bin folder
bin*

# Ignore other stuff
GPATH
GRTAGS
GTAGS
udp4_cooked.c